   
<div class="container-fluid">
    <div class="row row-content align-items-center">
        <div class="col">
            <div class="card-deck">
                <div class="card border-primary">
                    <div class="card-header border-primary">
                        <h5>About Box Turtles</h5>
                        </div>
                        <div class="card-body">
                            <p>The eastern box turtle is an incredibly important species in nearly every ecosystem along the Eastern United States all the way down to the Yucutan Peninsula. To learn more about these fascinating reptiles follow the links below.</p>
                            <ul>
                                <li><em><a href="https://nationalzoo.si.edu/animals/eastern-box-turtle">An Overview</a> </em></li>
                                <li><em><a href="https://wildlifeinformer.com/facts-about-eastern-box-turtles/">Fun Facts</a></em></li>
                            </ul>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid">
        <div class="row row-content align-items-center">
            <div class="col">
                <div class="card-deck">
                    <div class="card border-primary">
                        <div class="card-header border-primary">
                            <h5>How to use this site</h5>
                            <span class="text-danger"><em>Please note that we are currenty in our beta test phase, and we are updating this site on a regular basis. Your patience with any issues you see 
                                is much appreciated and any <a data-toggle="modal" href="#feedbackModal">feedback or questions</a> you have for us is welcome and highly valued!</em></span>
                        </div>
                        <div class="card-body"> 
                            <p>Navigate to the <em><a href="/sightings_page">Observations</a></em> tab to view images grouped by date, species, and observer.</p>
                            <p> Navigate to the <em><a href="/images_page">Images</a></em> tab to view all images that have been contributed to the WildTrackAI System.</p>
                            <p> Images are displayed with associated information received with the image, information added during AI processing, and/or information contributed by the site administrators. Please send <em><a data-toggle="modal" href="#feedbackModal">Feedback</a></em> with comments and questions regarding the information presented.</p>
                                <dl>
                                    <dt>Image</dt>
                                   
                                    <dd>Labels entered by the image contributor in Epicollect</dd>
                                    <dt>Rating; Piedmont Comments</dt>
                                    <dd>Piedmont rates the quality of the image on a 5 point scale: 
                                        
                                        A rating of 0 indicates that there was no image received. Any relevant qualitative feedback will be displayed in the WildTrack Comments column.
                                        Note that while it is always desirable to have the highest quality image, we are looking to capture as many images as possible (even with lower quality) and as outlined in the success definition section, evaluate how the AI models do with lower quality images.
                                    </dd>
                                    <dt>AI Predictions</dt>
                                    <dd>Displays the species and individual predicted by the system along with % confidence level. If the confidence level falls below a predefined threshold, <em>Unknown</em> is displayed. <p class=text-info> Note that the current model is trained on 25 turtles. The model tries to assign any image to one of these individuals, if it does not match up with any, it creates a new individual. </p></dd>
                                    <dt>Recorder Information</dt>
                                    <dd>The contributor information (along with comments) received with the original image submission.</dd>
                               
                                </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row row-content align-items-center">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>Usefull Resources</h5>
            </div>
            <div class="card-body"> 
                <p><a href="https://wildtrack.org">WildTrack (wildtrack.org)</a> is a non-profit organization that aims to develop and provide non-invasive but effective monitoring of endangered species in order to mitigate human
                    wildlife conflicts and prevent illegal poaching. The mission of the <em><a href="https://www.piedmontwildlifecenter.org">Piedmont Wildlife Center</a></em> is to instill in people a positive connection to nature and to develope a community based approach to conservation.</p>
                <p>Useful Resources: </p>
                <ul>
                    <li>   <a href="https://www.piedmontwildlifecenter.org/turtle-trekkers" target="_blank">How to take shell images</a> </li>
                    <li><a href="https://wildtrack.org/conservationfit/education-and-communities/" target="_blank">Education and communities</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>   

