<div class="row row-content align-items-center">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>About WildTrack</h5>
            </div>
            <div class="card-body"> 
                <p><a href="https://wildtrack.org">WildTrack (wildtrack.org)</a> is a non-profit organization that aims to develop and provide non-invasive but effective monitoring of endangered species in order to mitigate human
                    wildlife conflicts and prevent illegal poaching.</p>
                <p>Useful WildTrack Resources: </p>
                <ul>
                    <li><a href="https://wildtrack.org/how-fit-works/" target="_blank">What is FIT</a></li>
                    <li><a href="https://wildtrack.org/conservationfit/partner-with-us/" target="_blank">How to partner with us</a> and 
                        <a href="https://wildtrack.org/example-footprints" target="_blank">How to take footprint images</a> </li>
                    <li><a href="https://wildtrack.org/blog/" target="_blank">WildTrack blog</a></li>
                    <li><a href="https://wildtrack.org/conservationfit/where-we-work/" target="_blank">Where we work</a></li>
                    <li><a href="https://wildtrack.org/conservationfit/helping-your-organization/" target="_blank">Helping your Organization network</a></li>
                    <li><a href="https://wildtrack.org/conservationfit/education-and-communities/" target="_blank">Education and communities</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>   

<div class="row row-content align-items-center">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-header">
                <h5>System Architecture</h5>
            </div>
            <div class="card-body"> 
                <img src="static/images/system_architecture.jpg" class="align-items-center">
            </div>
        </div>
    </div>
</div>  
