<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <link href="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet">

    <!-- Specific styling for this page -->
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/fontawesome/css/all.css">
    
    <title>TurtleTrack - {% block title %}Home{% endblock %}</title>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>

    <!-- <script src="https://cdnjs.com/libraries/Chart.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script> -->
    <!--<script src="Chart.min.js"></script>-->
</head>
<body>
    

    <nav class="navbar navbar-expand-md fixed-top navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="#Navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">    
            <ul class="navbar-nav mr-auto">
                {% block navitems %} {% endblock %}
            </ul>
            <ul class="navbar-nav text-left">
                {% if sitetype == 'user' %}
                <li class="nav-item {% if active=='about' %}active{% endif %}"><a class="nav-link" href="/about"><span class="fa fa-atlas fa-lg"></span> About</a></li>
                {% else %}
                <li class="nav-item {% if active=='about' %}active{% endif %}"><a class="nav-link" href="/about_admin"><span class="fa fa-atlas fa-lg"></span> About</a></li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" role="button" id="newsighting2" onclick = "getLocation();"> <span class="fab fa-telegram-plane"></span> Report a Sighting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="button" id="feedback"><span class="fa fa-envelope fa-lg"></span>  Feedback</a>
                </li>
            </ul>
        </div>

    </nav>

    {% block header %}{% endblock %}

    <div id="feedbackModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Send us your Feedback</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                

                <div class="modal-body">
                    <form id="feedbackform" >
                        <div class="form-group row">
                            <label for="name" class="col-md-2 col-form-label">Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-md-2 col-form-label">Email</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                
                            </div>                       
                        </div>

                       
                        <div class="form-group row">
                            <label for="rating" class="col-md-2 col-form-label">Rate your experience</label>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="one" name="rating" value="1">
                                    <label class="form-check-label" for="one">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="two" name="rating" value="2">
                                    <label class="form-check-label" for="one">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="three" name="rating" value="3">
                                    <label class="form-check-label" for="one">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="four" name="rating" value="4">
                                    <label class="form-check-label" for="one">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="five" name="rating" value="5">
                                    <label class="form-check-label" for="one">5</label>
                                </div>
                                </div> 
                        </div>
    
                        <div class="form-group row">
                            <label for="feedback" class="col-md-2 col-form-label">Your feedback</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="feedback" name="feedback" 
                                placeholder="Let us know if you have any questions, what you especially like and what you would like to see changed or added to TurtleTrack. Please be as specific as possible" 
                                rows="12"></textarea>   
                            </div>                       
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-2 col-md-10">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    Send Feedback
                                </button>
                            </div>                      
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <div id="NewSightingModal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Report a Sighting</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                
                
                 
                <div class="modal-body">
                    
                    <form id="NewSightingform" method="POST" enctype="multipart/form-data">
                       
                        <div class="form-group row">
                            <label for="name" class="col-md-1 col-form-label">Name</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="newname" name="newname" placeholder="Name">         
                            </div>
                          
                              <label for="email" class="col-md-1 col-form-label">Email</label>
                        
                              <div class="col-md-3">
                                  <input type="email" class="form-control" id="newemail" name="newemail" placeholder="Email">
                                  
                              </div>  
    
                              <label for="name" class="col-md-1 col-form-label">Organization</label>
                        
                              <div class="col-md-3">
                                  <input type="text" class="form-control" id="org" name="org" placeholder="Organization (if applicable)">
                                  
                              </div>  
    
                        </div>
    
                       
    
                              
                              
                        <div class= "form-group row">
                          <label for = "date" class="col-md-1 col-form-label;\">Date</label> 
                            <div class = "col-md-3">
                              <input type="date" class="form-control" id="date" name="date"  placeholder="mm-dd-yyyy">
                              <p id = "datePrompt"></p>
                            </div>
                            
                          <label for="date" class="col-md-1 col-form-label">Location</label>
                           <div class = "col-md-3">
                               <input type="text" class="form-control" id="place" name="place" onblur= "validatePlace();" placeholder="City, State">
                                           
                            </div>
                            
                            <label for = "long/lat" class = col-md-1> Coordinates</label>
                            <div class = col-md-3>
                            
                                <p class = col-md-3 id = "demo"></p>
                            </div>
    
                            
                              
                      </div>


                    


                    <div class = "form-group row">
                     <label for ="time" class = "col-md-1"> Time</label>
                      <div class = "col-md-3">
                        <input type= "time" id = "time" class = "form-control" placeholder = "select time">
                        </div>

                      <label  for = "turtle" class="col-md-1 col-form-label">Turtle ID </label>
                      <div class= "col-md-3">
                      <input type="text" class="form-control" id="turtlename" name="turtlename" placeholder="Turtle ID (if applicable)">
                                
                              </div> 

                       <label for = "sex" class = "col-md-1"> Sex </label>
                       <div class = "col-md-3">
                         <form action = "action-page-php">
                            <select name = "gender">
                                <option value = "male"> Male</option>
                                <option value = "male"> Female</option>
                                <option value = "unknown"> Unknown</option>
                                          
                                      </select>
                                  </form>
                              </div>
                    </div>
                       

                              

                           

                      
                        
                        
                          
                    <div class="form-group row">
                            <label for="images" class="col-md-1 col-form-label">Images</label>
                            <div class="col-md-4">
                                <input type="file" class="form-control" id="images" name="images" accept="image/*" multiple="multiple" onchange="loadFile(event)">
                                <output id="turtles">
                              </div>  
                    </div>

                        
                               
                               
                               
                                   

                               
                              
                              
                      
    
                       
    
                        <div class="form-group row">
                            <label for="feedback" class="col-md-1 col-form-label"> Notes</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="notes" name="notes" 
                                placeholder="Any additional notes about your observations?" 
                                rows="6"></textarea>   
                            </div>                       
                        </div>

                        <div class="form-group row">
                            <div class="offset-md-2 col-md-10">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-primary" onclick="loading();" >
                                    Submit
                                </button>
                            </div>                      
                        </div>
                        <div class = "form-group-row">
                            <div class = "col-md-2">
                            <p id="save"></p> 
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>



    
    {% block content %} {% endblock %}

<script>
    $("#feedback").click(function(){
        $('#feedbackModal').modal('show')});

    $('#feedbackform').on('submit', function(e){
    e.preventDefault();
    $.ajax({
        url:'/add_feedback',
        type:'post',
        data:$('#feedbackform').serialize(),
        success:function(){
            console.log("OK");
            $('#feedbackModal').modal('hide');
            $('#feedbackform').trigger("reset");

            },
        error:function(error){
				        console.log(error);
                        $('#feedbackModal').modal('hide');
			    }
    });
    });



    $("#newsighting2").click(function(){
        $('#NewSightingModal').modal('show')});


    $('#NewSightingform').on('submit', function(e){
    e.preventDefault();
    var formdata=new FormData(this);
    //data=$('#NewSightingform').serialize();
    //File data
  
    $.ajax({
        url:'/add_sighting',
        type:'post',
        processData: false,
        contentType: false,
        data:formdata,
        success:function(){
            console.log("OK");
            $('#NewSightingModal').modal('hide');
            $('#NewSightingform').trigger("reset");
            location.reload(true);

            },
        error:function(error){
				        console.log(error);
                        $('#NewSightingModal').modal('hide');
                        location.reload(true);
			    }
    });
});

var loadFile = function(event) {
	var output = document.getElementById('turtles');
  var files=event.target.files
  var str=""
  var div = document.createElement("div");
  for (var i = 0; i < files.length; i++) {
        var file = files[i];
        //Only pics
        if (!file.type.match('image'))
          continue;
          
          str = str+"<img src='" + URL.createObjectURL(event.target.files[i]) + "' class='img-fluid img-thumbnail' style='width: 200px' />";
          output.insertBefore(div, null);
      }
  div.innerHTML=str
};

function loading(){

     document.getElementById("save").innerHTML = "Saving, please wait ...";
};




function getLocation(){
    var x = document.getElementById ("demo");

    if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(showPosition);
    } else{
        x.innerHTML = "Geolocation is not supported by this browser";
    }
};

function showPosition(position){
var x = document.getElementById ("demo");
x.innerHTML = "Latitude:" + position.coords.latitude +
"<br> Longitude:" + position.coords.longitude;
};






     

</script>
    
</body>

</html>