{% include 'toolbar-user.html' %}

<br>o
    <h1><center>Images</center></h1>

{% block content %}  
    <div class="container-fluid">
        <div class="table-responsive">
            <table  
                id="imagetable" class="table table-striped table-sm" 
                data-locale="en-US"
                data-toggle="table"
                data-search="true"
                data-show-refresh="true"
                data-show-toggle="true"
                data-show-fullscreen="true"
                data-show-columns="true"
                data-show-columns-toggle-all="true"
                data-show-export="true"
                data-pagination="true"
                data-side-pagination="server"
                data-show-jump-to="true"
                data-id-field="ID"
                data-escape="false"
                data-undefined-text=""
                data-page-list="[10,25, 50, 100, all]"
                data-url="get_artifacts"
                data-height="650">
                <thead>
                    <tr>
                        <th data-field="annotated_image" data-formatter="ModalLinkFormatter" data-valign="middle">Image</th>
                        <th data-field="Individual" data-valign="middle">Individual</th>
                        <th data-valign="middle" data-field="Individual_Inference">Predicted Individual</th>
                        <th data-field="TimeStamp" data-valign="middle">Date</th>
                        <th data-field="Organization" data-valign="middle">Organization</th>
                        <th data-field="Name" data-valign="middle">Name</th>
                        <th data-field="UserComments" data-valign="middle">Comments</th>
                        <th data-field="ID" data-visible="false">ID</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div id="ModalDetails" class="modal fade ">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" >
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header text-center d-block">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Image Detail</h4>
    
                    </div>
                    <div class="modal-body">
                      <div id="ModalSummary">
                        <div class="table-responsive">
                            <table id="detailtable" class="table table-sm" 
                              data-locale="en-US"
                              data-toggle="table"
                              data-escape="false">
                            </table>
                        </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

<script>
    var $detailtable = $('#detailtable');

function ModalLinkFormatter(value, row, index) {
    console.log(row)
    //var linktext='<a href=\"javascript:void(0)\" onclick=\"launchModal(\''+JSON.stringify(row)+'\')\">'+value+'</a>'
    var linktext='<a href=\"javascript:void(0)\" onclick=\"launchModal(\''+row["ID"]+'\')\">'+value+'</a>'
    //var linktext='<a href=\"javascript:void(0)\" onclick=\"launchModal(\'5efce6c33d65356d5097593c\')\">'+value+'</a>'
    //var linktext='<a href=\"javascript:void(0)\" onclick=\"launchModal(2)\">'+value+'</a>'
    //console.log(linktext);
    return linktext;
}

function launchModal(ID) {
    detail_url='get_images/?artifactID='+ID

    
    $("#detailtable").bootstrapTable('destroy').bootstrapTable({
    columns: [
        {
        title: 'Image',
        field: 'image',
        align: 'center',
        valign: 'middle',
        }
    ],
    url:detail_url,
    });

    $("#ModalDetails").modal();
    //console.log(current_sighting)
    };


    
</script>
{% endblock %} 