{% extends 'base.html' %}

{% block navitems %} 
    <li class="nav-item {% if active=='home' %}active{% endif %}"><a class="nav-link" href="/admin"><span class="fa fa-home fa-lg"></span> TurtleTrack</a></li>
    <li class="nav-item {% if active=='observations' %}active{% endif %}"><a class="nav-link" href="/sightings_admin_page"><span class="fa fa-eye fa-lg"></span> Observations</a></li>
    <li class="nav-item {% if active=='images' %}active{% endif %}"><a class="nav-link" href="/images_admin_page"><span class="fa fa-camera fa-lg"></span> Images</a></li>
    <li class="nav-item {% if active=='users' %}active{% endif %}"><a class="nav-link" href="/feedback_admin_page"><span class="fa fa-comments fa-lg"></span> Feedback</a></li>
{% endblock %}