{% include 'toolbar-admin.html' %}

{% block header %}



{% endblock %}

{% block content %}  
<div class="container-fluid">
  <div class="table-responsive">
      <table  
          id="userTable" class="table table-striped table-sm" 
          data-locale="en-US"
          data-toggle="table"
          data-search="true"
          data-show-refresh="true"
          data-show-toggle="true"
          data-show-fullscreen="true"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          data-show-export="true"
          data-pagination="true"
          data-side-pagination="server"
          data-id-field="ID"
          data-escape="false"
          data-undefined-text=""
          data-page-list="[10, 25, 50, 100, all]"
          data-url="get_users"
          data-height="650">
          <thead>
              <tr>
                  <th data-field="Name" data-halign="center" data-valign="middle" data-editable="true" data-editable-type="text" data-editable-emptytext="Click to Add">Name</th>
                  <th data-field="Organization" data-halign="center" data-valign="middle" data-editable="true" data-editable-type="text" data-editable-emptytext="Click to Add">Organization</th>
                  <th data-field="Email" data-halign="center" data-valign="middle" data-editable="true" data-editable-type="text" data-editable-emptytext="Click to Add">Email</th>
                  <th data-field="Description" data-halign="center" data-valign="middle" data-editable="true" data-editable-type="text" data-editable-emptytext="Click to Add">Description</th>
                  <th data-field="ID" data-visible="false">ID</th>
              </tr>
          </thead>
      </table>
  </div>
</div>
<script>
$("#userTable").on('editable-save.bs.table', function(editable, field, row, oldValue, $el) {
  //console.log("editable:", editable);
  console.log("field:", field);
  console.log("row", row[field], row["ID"]);
  console.log("oldValue", oldValue);
  //console.log("el", $el);
  var update_url='/update_user_details';
  var update_data={"ID":row["ID"], "Field":field, "Value":row[field]};
  //console.log(comment_data);
  $.ajax({
    type: 'POST',
          url: update_url,
          data: update_data,
          success: function(response){
              console.log(response);
          },
          error: function(error){
              console.log(error);
          }
      });
});
</script>
{% endblock %} 